.formContainer{
    background-image: linear-gradient();
    
}

.container{
    align-items: center;
}

.mat-card{
    height: 450px;
    width:780px;
    transform: translate(-50%,30%);
    left:50%

  

}

.mat-card-title{
    text-align: center;
}

.mat-form-field{
    width:500px;
    left:17%;
    padding:20px;
}

button{
    width:500px;
   text-align: center;
   left:20%
}